<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a><b><span style="color: white">Welcome! This is my Django Project</span></b></a>  
                    <a href="tel:+48-XXX-XXX-XXX"><i class="fa fa-phone"></i>+48-XXX-XXX-XXX</a>
                    <a href="mailto: test@test.com"><i class="fa fa-envelope"></i>cezary@test.com</a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">

                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'dashboard' %}" class="sign-in"><i class="fa fa-tachometer"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:{document.getElementById('logout').submit()}" class="sign-out"><i class="fa fa-sign-in"></i> Logout</a>
                        <form action= "{% url 'logout' %}" id="logout" method= 'POST'>
                            {% csrf_token %} 
                            <input type = "hidden">
                        </form>
                    </li>

                    {% else %}

                    <li>
                        <a href="{% url 'login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->